.main-applicant-page{
    margin: 20px;
    
    background-color: rgb(213, 206, 206);
    padding: 5px;
    border-radius: 25px;
    /* border: 2px solid blue; */
    width: calc(100% - 15%);
}
.main-page-navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 15px;
    color: rgb(0, 0, 0);
}
.menu-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    h3{
        color: rgb(0, 0, 0);
    }
    pre{
        color: rgb(0, 0, 0);
    }
}