.main-applicant-page{
    margin: 20px;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid blue;
    width: calc(100% - 15%);
}
.main-page-navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 15px;
}
.menu-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}