

.main-bar{
    padding:15px;
    color: white;
    margin: 0;
    background-color: #171717;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   border-bottom: 2px solid black;
   position: sticky;
    top: 0;
    z-index: -10px;
    .logo{
        display: flex;
        flex-direction: row;
        gap: 50px;
        .list-navbar{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
        }
        a{
            text-decoration: none;
            color: white;
        }
        p{
            font-size: 15px;
            text-transform: uppercase;
        }
        p:hover{
            
            color: #234f92;
            cursor: pointer;
        }
    }
    
}
.button-navbar{
    display: flex;
    flex-direction: row;
   gap: 80px;
    align-items: center;
    justify-content: space-around;
}
.button-one{
    margin-right: 15px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #171717;
    background-color: #234f92;
    color: white;
    cursor: pointer;
}
.button-two{
    margin-right: 15px;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    border:2px solid #234f92;
    background: black;
    color: white;
}.button-two:hover{
    color: #234f92;
}

